Reading data from csv

In [71]:
data <-read.csv("D:/MS_Spring2017/DIC/Lab3/Data/german_credit_data1.csv")

Removing rows with NA values as knn does not accept NA values

In [75]:
data <-  data[complete.cases(data), ]

Reading the no of rows in data

In [78]:
n.points <- nrow(data)

Setting sampling rate, Portion of data used for training purpose and other as test data

In [79]:
sampling.rate <- 0.8

Setting the number of rows used for testing purpose

In [80]:
num.test.set.labels <- n.points * (1 - sampling.rate)

Randomly picking rows for training purpose

random row numbers will be taken into the training variable

In [81]:
training <- sample(1:n.points, sampling.rate * n.points,
replace=FALSE)

In [82]:
data

     X.  Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
2     1  22  female 2   own     little          moderate          5951
4     3  45  male   2   free    little          little            7882
5     4  53  male   2   free    little          little            4870
8     7  35  male   3   rent    little          moderate          6948
10    9  28  male   3   own     little          moderate          5234
11   10  25  female 2   rent    little          moderate          1295
12   11  24  female 2   rent    little          little            4308
13   12  22  female 2   own     little          moderate          1567
14   13  60  male   1   own     little          little            1199
15   14  28  female 2   rent    little          little            1403
16   15  32  female 1   own     moderate        little            1282
19   18  44  female 3   free    little          moderate         12579
22   21  44  male   2   rent    quite rich      little            2647
23   22  48  male   1   rent    little          little            2241
24   23  44  male   2   own     moderate        moderate          1804
26   25  36  male   1   own     little          little            1374
28   27  42  female 2   rent    rich            rich               409
29   28  34  male   2   own     little          moderate          2415
30   29  63  male   2   own     little          little            6836
31   30  36  male   2   own     rich            moderate          1913
32   31  27  male   2   own     little          little            4020
33   32  30  male   2   own     moderate        moderate          5866
35   34  33  female 3   own     little          rich              1474
36   35  25  male   1   own     little          moderate          4746
38   37  37  male   2   own     little          rich              2100
39   38  37  male   2   own     little          rich              1225
40   39  24  male   2   own     little          moderate           458
42   41  26  male   2   own     quite rich      moderate          1158
43   42  44  male   1   own     little          moderate          6204
44   43  24  male   2   rent    moderate        little            6187
...  ... ... ...    ... ...     ...             ...              ...
947  946 30  male   2   free    quite rich      little           3349
951  950 40  male   0   own     little          moderate         3590
952  951 24  male   2   own     little          little           2145
953  952 28  female 2   rent    quite rich      moderate         4113
955  954 29  female 2   own     little          little           1893
956  955 57  female 3   rent    rich            little           1231
958  957 37  male   1   own     little          moderate         1154
959  958 45  male   1   own     little          little           4006
960  959 30  male   2   free    moderate        moderate         3069
962  961 47  male   2   own     little          moderate         2353
965  964 22  male   1   own     little          moderate          454
967  966 23  male   1   own     quite rich      moderate         2520
970  969 40  male   1   own     little          little           3939
971  970 22  male   2   own     moderate        moderate         1514
973  972 29  female 0   rent    little          little           1193
974  973 36  male   2   rent    little          little           7297
976  975 57  female 1   own     quite rich      rich             1258
977  976 64  female 2   own     little          moderate          753
980  979 25  male   2   rent    moderate        moderate         1264
981  980 49  male   2   own     little          moderate         8386
983  982 28  female 3   own     moderate        rich             2923
984  983 26  male   2   own     little          little           8229
986  985 25  female 2   rent    little          little           1433
987  986 33  male   2   own     little          rich             6289
989  988 29  male   3   free    little          little           6579
990  989 48  male   1   own     little          moderate         1743
994  993 30  male   3   own     little          little           3959
997  996 40  male   3   own     little          little           3857
999  998 23  male   2   free    little          little           1845
1000 999 27  male   2   own     moderate        moderate         4576
     Duration Purpose             Credit.Risks
2    48       radio/TV            2
4    42       furniture/equipment 1
5    24       car                 2
8    36       car                 1
10   30       car                 2
11   12       car                 2
12   48       business            2
13   12       radio/TV            1
14   24       car                 2
15   15       car                 1
16   24       radio/TV            2
19   24       car                 2
22    6       radio/TV            1
23   10       car                 1
24   12       car                 1
26    6       furniture/equipment 1
28   12       radio/TV            1
29    7       radio/TV            1
30   60       business            2
31   18       business            1
32   24       furniture/equipment 1
33   18       car                 1
35   12       furniture/equipment 1
36   45       radio/TV            2
38   18       radio/TV            2
39   10       domestic appliances 1
40    9       radio/TV            1
42   12       radio/TV            1
43   18       repairs             1
44   30       car                 1
...  ...      ...                 ...
947  24       furniture/equipment 2
951  18       business            1
952  36       business            2
953  24       car                 2
955  12       car                 1
956  24       radio/TV            1
958   9       radio/TV            1
959  28       car                 2
960  24       furniture/equipment 1
962  21       car                 1
965   6       repairs             1
967  27       radio/TV            2
970  11       car                 1
971  15       repairs             1
973  24       car                 2
974  60       business            2
976  24       radio/TV            1
977   6       radio/TV            1
980  15       car                 2
981  30       furniture/equipment 2
983  21       car                 1
984  36       car                 2
986  15       furniture/equipment 1
987  42       business            1
989  24       car                 1
990  24       radio/TV            1
994  36       furniture/equipment 1
997  30       car                 1
999  45       radio/TV            2
1000 45       car                 1

For Scaling purpose replacing the string(character) valued column variables with equivalent integer values

Checking all the unique value for columns in order and inserting a new column with their respective integer values

Adding column Sex_int with values 1 and 2 for male and female respectively

In [83]:
unique(data$Sex)

[1] female male
Levels: female male

In [84]:
data$Sex_int[data$Sex=='male'] <- 1
data$Sex_int[data$Sex=='female'] <- 2

Adding column Housing_int with values 1,2 and 3 for own,free and rent repectively

In [85]:
unique(data$Housing)

[1] own  free rent
Levels: free own rent

In [86]:
data$Housing_int[data$Housing=='own'] <- 1
data$Housing_int[data$Housing=='free'] <- 2
data$Housing_int[data$Housing=='rent'] <- 3

Adding column Saving.accounts_int with values 1,2,3 and 4 for little,quite rich,rich and moderate repectively

In [87]:
unique(data$Saving.accounts)

[1] little     moderate   quite rich rich
Levels: little moderate quite rich rich

In [89]:
data$Saving.accounts_int[data$Saving.accounts=='little'] <- 1
data$Saving.accounts_int[data$Saving.accounts=='quite rich'] <- 2
data$Saving.accounts_int[data$Saving.accounts=='rich'] <- 3
data$Saving.accounts_int[data$Saving.accounts=='moderate'] <- 4

Adding column Checking.account_int with values 1,2,3 and 4 for little,quite rich,rich and moderate repectively in Checking.accounts

In [90]:
unique(data$Checking.account)

[1] moderate little   rich
Levels: little moderate rich

In [91]:
data$Checking.account_int[data$Checking.account=='little'] <- 1
data$Checking.account_int[data$Checking.account=='moderate'] <- 2
data$Checking.account_int[data$Checking.account=='rich'] <- 3

In [92]:
unique(data$Purpose)

[1] radio/TV            furniture/equipment car
[4] business            domestic appliances repairs
[7] vacation/others     education
8 Levels: business car domestic appliances education ... vacation/others

In [93]:
data$Purpose_int[data$Purpose=='radio/TV'] <- 1
data$Purpose_int[data$Purpose=='education'] <- 2
data$Purpose_int[data$Purpose=='furniture/equipment'] <- 3
data$Purpose_int[data$Purpose=='car'] <- 4
data$Purpose_int[data$Purpose=='business'] <- 5
data$Purpose_int[data$Purpose=='domestic appliances'] <- 6
data$Purpose_int[data$Purpose=='repairs'] <- 7
data$Purpose_int[data$Purpose=='vacation/others'] <- 8

In [94]:
colnames(data)

 [1] "X."                   "Age"                  "Sex"
 [4] "Job"                  "Housing"              "Saving.accounts"
 [7] "Checking.account"     "Credit.amount"        "Duration"
[10] "Purpose"              "Credit.Risks"         "Sex_int"
[13] "Housing_int"          "Saving.accounts_int"  "Checking.account_int"
[16] "Purpose_int"

Defining the training set by taking all the rows for the row numbers picked up randomly above

In [99]:
train <- subset(data[training, ], select = c(Age, Sex_int,Job,Housing_int,Saving.accounts_int,Checking.account_int,
                                            Credit.amount,Duration,Purpose_int))

The remaining rows will go to the test data set, these are the remaining row numbers

In [100]:
testing <- setdiff(1:n.points, training)

Defining the test set by taking all the rows for the row numbers taken above

In [101]:
test <- subset(data[testing, ], select = c(Age, Sex_int,Job,Housing_int,Saving.accounts_int,Checking.account_int,
                                            Credit.amount,Duration,Purpose_int))

taking the subset of labels for the training data set

In [102]:
cl <- data$Credit.Risks[training]

taking the subset of labels for the testing data set

In [103]:
true.labels <- data$Credit.Risks[testing]

In [104]:
install.packages("class",repos="http://cran.us.r-project.org/")

Warning message:
"package 'class' is in use and will not be installed"

In [105]:
library(class)

Labels predicted for test data set using knn

In [106]:
knn (train, test, cl, k=3)

  [1] 2 1 2 2 1 1 2 1 1 2 1 1 1 2 2 2 2 2 1 1 2 2 1 2 1 2 1 2 2 1 1 2 2 1 1 1 1
 [38] 2 2 2 1 2 1 1 2 2 1 1 2 2 2 2 2 2 2 1 2 1 1 1 2 1 1 2 1 2 1 1 2 1 2 2 2 1
 [75] 2 2 2 1 1 2 1 1 1 1 2 2 2 1 1 2 1 2 2 1 2 2 2 1 1 1 2 1 2 2 2
Levels: 1 2

Running knn for different values of k and checking the misclassification rate for each value

In [107]:
for (k in 1:20) {
print(k)
predicted.labels <- knn(train, test, cl, k)
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels /
num.test.set.labels
    print(misclassification.rate)
}

[1] 1
[1] 0.4885057
[1] 2
[1] 0.5268199
[1] 3
[1] 0.4118774
[1] 4
[1] 0.4693487
[1] 5
[1] 0.4310345
[1] 6
[1] 0.4022989
[1] 7
[1] 0.440613
[1] 8
[1] 0.3927203
[1] 9
[1] 0.4118774
[1] 10
[1] 0.3831418
[1] 11
[1] 0.4118774
[1] 12
[1] 0.3927203
[1] 13
[1] 0.4022989
[1] 14
[1] 0.4597701
[1] 15
[1] 0.4118774
[1] 16
[1] 0.4310345
[1] 17
[1] 0.3927203
[1] 18
[1] 0.335249
[1] 19
[1] 0.3544061
[1] 20
[1] 0.3927203

Tabulating results for different values of sampling rate and noting the values for misclassifcation rate for 
different k values

In [127]:
knn_Analysis_Table <- data.frame(k_value= integer(0), 
train_90= integer(0),train_80= integer(0),
train_70= integer(0),train_60= integer(0),
train_50= integer(0),train_40= integer(0),
train_30= integer(0),train_20= integer(0),
train_10= integer(0))
knn_Analysis_min_Table <- data.frame(Sampling_Rate= integer(0), k_value= integer(0),Misclassificaiton_Rate = integer(0))
sampling_rate_values <- c(0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1)
for(r in sampling_rate_values){
sampling.rate <- r
num.test.set.labels <- n.points * (1 - sampling.rate)
training <- sample(1:n.points, sampling.rate * n.points,
replace=FALSE)
train <- subset(data[training, ], select = c(Age, Sex_int,Job,Housing_int,Saving.accounts_int,Checking.account_int,
                                            Credit.amount,Duration,Purpose_int))
testing <- setdiff(1:n.points, training)
test <- subset(data[testing, ], select = c(Age, Sex_int,Job,Housing_int,Saving.accounts_int,Checking.account_int,
                                            Credit.amount,Duration,Purpose_int))
cl <- data$Credit.Risks[training]
true.labels <- data$Credit.Risks[testing]
k_value <- 0
misclassification_rate <- 1
for (k in 1:20) {
predicted.labels <- knn(train, test, cl, k)
num.incorrect.labels <- sum(predicted.labels != true.labels)
misclassification.rate <- num.incorrect.labels / num.test.set.labels
knn_Analysis_Table[k,1] <- k    
knn_Analysis_Table[k,x+1] <-misclassification.rate
if(misclassification.rate < misclassification_rate){
    misclassification_rate <- misclassification.rate
    k_value <- k
}
}
knn_Analysis_min_Table[x,] <- c(r,k_value,misclassification_rate)
x <- x+1
}

Table that demonstrates the various misclassification rate values for different sampling rate and k values

In [128]:
knn_Analysis_Table

   k_value train_90  train_80  train_70  train_60  train_50  train_40
1   1      0.4406130 0.4885057 0.4916986 0.4454023 0.4750958 0.4629630
2   2      0.3639847 0.4885057 0.4022989 0.4262452 0.4904215 0.4374202
3   3      0.3448276 0.3831418 0.4597701 0.3879310 0.4482759 0.3991060
4   4      0.4789272 0.4980843 0.4214559 0.4166667 0.4636015 0.4182631
5   5      0.4789272 0.4214559 0.4533844 0.4454023 0.4406130 0.4310345
6   6      0.4406130 0.4118774 0.4661558 0.4549808 0.4521073 0.4150702
7   7      0.4214559 0.4310345 0.4533844 0.4406130 0.4022989 0.4406130
8   8      0.3639847 0.4118774 0.4597701 0.4214559 0.4406130 0.4438059
9   9      0.4406130 0.4118774 0.3959132 0.4070881 0.4022989 0.4374202
10 10      0.4597701 0.4693487 0.3895275 0.4022989 0.4176245 0.4342273
11 11      0.4214559 0.3831418 0.4214559 0.4166667 0.4022989 0.4501916
12 12      0.4406130 0.3831418 0.4022989 0.4070881 0.4367816 0.4565773
13 13      0.4406130 0.3735632 0.3703704 0.4358238 0.4176245 0.4406130
14 14      0.4406130 0.4214559 0.4086845 0.4262452 0.4214559 0.4469987
15 15      0.4022989 0.4501916 0.4150702 0.4022989 0.4252874 0.4278416
16 16      0.4406130 0.4214559 0.4022989 0.4166667 0.4252874 0.4565773
17 17      0.3831418 0.4118774 0.4022989 0.4358238 0.4214559 0.4629630
18 18      0.3831418 0.4310345 0.4022989 0.4166667 0.4367816 0.4406130
19 19      0.3831418 0.4214559 0.4278416 0.4597701 0.4137931 0.4533844
20 20      0.3831418 0.4118774 0.4150702 0.4549808 0.4176245 0.4278416
   train_30  train_20  train_10
1  0.4652436 0.4142720 0.4363559
2  0.4871374 0.4310345 0.4384845
3  0.4241927 0.4166667 0.4150702
4  0.4324028 0.4022989 0.4044274
5  0.4132458 0.4094828 0.4320988
6  0.4296661 0.4238506 0.4320988
7  0.4324028 0.4214559 0.4576415
8  0.4406130 0.4310345 0.4448702
9  0.4241927 0.4501916 0.4704129
10 0.4187192 0.4454023 0.4640272
11 0.4324028 0.4262452 0.4363559
12 0.4324028 0.4430077 0.4512559
13 0.4406130 0.4262452 0.4384845
14 0.4296661 0.4382184 0.4555130
15 0.4050356 0.4358238 0.4427416
16 0.4214559 0.4238506 0.4618987
17 0.4433498 0.4022989 0.4640272
18 0.4433498 0.4094828 0.4533844
19 0.4159825 0.4094828 0.4193274
20 0.4296661 0.4118774 0.4342273

Minimum table: this has the minimum misclassification rate noted for each sampling rate and also the k values for whch the minimu value was noted

In [130]:
knn_Analysis_min_Table

  Sampling_Rate k_value Misclassificaiton_Rate
1 0.9            3      0.3448276
2 0.8           13      0.3735632
3 0.7           13      0.3703704
4 0.6            3      0.3879310
5 0.5            7      0.4022989
6 0.4            3      0.3991060
7 0.3           15      0.4050356
8 0.2            4      0.4022989
9 0.1            4      0.4044274