sqldf has been used to apply queries on data frames

In [191]:
install.packages("sqldf",repos="http://cran.us.r-project.org/")

Warning message:
"package 'sqldf' is in use and will not be installed"

In [194]:
library("RSQLite")
library("dplyr")
library("sqldf")

Reading the database

In [195]:
database <- src_sqlite("D:/MS_Spring2017/DIC/Lab2/database.sqlite")

The database has the following tables

In [8]:
database

src:  sqlite 3.11.1 [D:/MS_Spring2017/DIC/Lab2/database.sqlite]
tbls: Country, League, Match, Player, Player_Attributes, sqlite_sequence, Team,
  Team_Attributes

Starting with creation of the player data frame, later making manipulations into it to have the desired columns

In [196]:
player <- data.frame(tbl(database,"Player"))

In [197]:
player_id <- data.frame(tbl(database, sql("SELECT distinct player_api_id FROM player")))

In [198]:
nrow(player)

[1] 11060

In [199]:
colnames(player)

[1] "id"                 "player_api_id"      "player_name"
[4] "player_fifa_api_id" "birthday"           "height"
[7] "weight"

In [200]:
match <- data.frame(tbl(database,"Match"))

In [201]:
match[3][25500:25501,]

[1] 24558 24558

In [202]:
 League <- data.frame(tbl(database,"League"))

In [203]:
nrow(match)

[1] 25979

In [146]:
nrow(result)

[1] 3322

In [204]:
nrow(data.frame(tbl(database, sql("SELECT home_player_2 as player_id, count(*) as no_of_matches FROM match group by home_player_2"))))

[1] 2415

Extracing all the players from the match table on the basis of the number of homeplayers and awayplayers played in each macth

In [18]:
result <- data.frame(tbl(database,sql("SELECT home_player_1 as player_id, count(*) as no_of_matches FROM match group by home_player_1
                   union
                 SELECT home_player_2 as player_id, count(*) as no_of_matches FROM match group by home_player_2
                   union
                 SELECT home_player_3 as player_id, count(*) as no_of_matches FROM match group by home_player_3
                   union
                 SELECT home_player_4 as player_id, count(*) as no_of_matches FROM match group by home_player_4
                   union
                 SELECT home_player_5 as player_id, count(*) as no_of_matches FROM match group by home_player_5
                   union
                 SELECT home_player_6 as player_id, count(*) as no_of_matches FROM match group by home_player_6
                   union
                 SELECT home_player_7 as player_id, count(*) as no_of_matches FROM match group by home_player_7
                   union
                 SELECT home_player_8 as player_id, count(*) as no_of_matches FROM match group by home_player_8
                   union
                 SELECT home_player_9 as player_id, count(*) as no_of_matches FROM match group by home_player_9
                   union
                 SELECT home_player_10 as player_id, count(*) as no_of_matches FROM match group by home_player_10
                   union
                 SELECT home_player_11 as player_id, count(*) as no_of_matches FROM match group by home_player_11
                   union
                 SELECT away_player_1 as player_id, count(*) as no_of_matches FROM match group by away_player_1
                   union
                 SELECT away_player_2 as player_id, count(*) as no_of_matches FROM match group by away_player_2
                   union
                 SELECT away_player_3 as player_id, count(*) as no_of_matches FROM match group by away_player_3
                   union
                 SELECT away_player_4 as player_id, count(*) as no_of_matches FROM match group by away_player_4
                   union
                 SELECT away_player_5 as player_id, count(*) as no_of_matches FROM match group by away_player_5
                   union
                 SELECT away_player_6 as player_id, count(*) as no_of_matches FROM match group by away_player_6
                   union
                 SELECT away_player_7 as player_id, count(*) as no_of_matches FROM match group by away_player_7
                   union
                 SELECT away_player_8 as player_id, count(*) as no_of_matches FROM match group by away_player_8
                   union
                 SELECT away_player_9 as player_id, count(*) as no_of_matches FROM match group by away_player_9
                   union
                 SELECT away_player_10 as player_id, count(*) as no_of_matches FROM match group by away_player_10
                   union
                 SELECT away_player_11 as player_id, count(*) as no_of_matches FROM match group by away_player_11"
                 )))

In [19]:
nrow(result)

[1] 46691

All the players have been listed as the number of records retrieved is equal to the number of records in the player table

In [159]:
nrow(na.omit(sqldf("select player_id,sum(no_of_matches) as no_of_appearences  from result group by player_id")))

[1] 11060

Finding the Number of appearences by grouping the data as per player id and summing the number of matches

In [21]:
no_of_appearences <- na.omit(sqldf("select player_id,sum(no_of_matches) as no_of_appearences  from result group by player_id"))

WE have a data frame with the number of appearences for each player

In [160]:
no_of_appearences

      player_id no_of_appearences
2     2625       86
3     2752       81
4     2768       71
5     2770        8
6     2790       50
7     2796        1
8     2802      142
9     2805      126
10    2857        3
11    2862       13
12    2907        3
13    2973       11
14    2977        3
15    2983       70
16    2984       19
17    3140       35
18    3204       20
19    3263       11
20    3264        1
21    3316        3
22    3329       55
23    3377        1
24    3441       63
25    3512        4
26    3517       17
27    3520       63
28    4747       35
29    4863       25
30    4902       68
31    4939       44
...   ...       ...
11032 701154     1
11033 703659     1
11034 704523     3
11035 705484     3
11036 706985     1
11037 710807     1
11038 715642     1
11039 716998     1
11040 717248     3
11041 717270     1
11042 717557     4
11043 719413     3
11044 720738     5
11045 721133    15
11046 722766    10
11047 723037     7
11048 725718     1
11049 726956     4
11050 728125     2
11051 728414     1
11052 728478     1
11053 730065     1
11054 733787     1
11055 742405     1
11056 743720     1
11057 744907     1
11058 746419     1
11059 748432     1
11060 750435     1
11061 750584     1

Starting with the player data frame

In [161]:
player_df <- data.frame(tbl(database,sql("select * from Player" )))

Joining player table and no of appearences table to have a collaborated data frame

In [162]:
temp <- sqldf("select player_df.player_api_id, player_df.player_name, no_of_appearences.no_of_appearences
from player_df
inner join no_of_appearences
on player_df.player_api_id=no_of_appearences.player_id")

Extracting the player names from player attributes and appending them to player table

In [255]:
player_rating_table_df <- data.frame(tbl(database,sql("select Player.player_api_id, Player.player_name, Player_Attributes.overall_rating
from Player
LEFT JOIN Player_Attributes
on Player.player_api_id=Player_Attributes.player_api_id")))

Extracting the record with the maximum overall rating of duplicate records of same player

In [171]:
player_rating_table_df <- data.frame(tbl(database,sql("select Player.player_api_id, Player.player_name, Player_Attributes.overall_rating, MAX(Player_Attributes.overall_rating)
from Player
LEFT JOIN Player_Attributes
on Player.player_api_id=Player_Attributes.player_api_id
group by Player.player_api_id")))

In [172]:
temp <- sqldf("select temp.player_api_id, temp.player_name, temp.no_of_appearences, player_rating_table_df.overall_rating
from temp
inner join player_rating_table_df
on temp.player_api_id=player_rating_table_df.player_api_id")

In [173]:
player_overall_rating_table <- tbl(database,sql("select Player.player_api_id, Player.player_name, Player_Attributes.overall_rating, MAX(Player_Attributes.overall_rating)
from Player
LEFT JOIN Player_Attributes
on Player.player_api_id=Player_Attributes.player_api_id
group by Player.player_api_id"))

Gathering gk rating table

In [174]:
gk_rating_table_df <- data.frame(tbl(database,sql("select Player.player_api_id, Player.player_name,
MAX(Player_Attributes.gk_diving + Player_Attributes.gk_handling + Player_Attributes.gk_kicking + Player_Attributes.gk_positioning + Player_Attributes.gk_reflexes) as gk_rating
from Player
LEFT JOIN Player_Attributes
on Player.player_api_id=Player_Attributes.player_api_id
group by Player.player_api_id")))

In [175]:
temp <- sqldf("select temp.player_api_id, temp.player_name, temp.no_of_appearences, temp.overall_rating,
              gk_rating_table_df.gk_rating
            from temp
            inner join gk_rating_table_df
            on temp.player_api_id=gk_rating_table_df.player_api_id")

Finding leagues for all the homeplayers and awayplayers

In [178]:
leaguesDF <- data.frame(tbl(database,sql("SELECT home_player_1 as player_id, league_id FROM match
                   union
                 SELECT home_player_2 as player_id, league_id FROM match
                   union
                 SELECT home_player_3 as player_id, league_id FROM match
                   union
                 SELECT home_player_4 as player_id, league_id FROM match
                   union
                 SELECT home_player_5 as player_id, league_id FROM match
                   union
                 SELECT home_player_6 as player_id, league_id FROM match
                   union
                 SELECT home_player_7 as player_id, league_id FROM match
                   union
                 SELECT home_player_8 as player_id, league_id FROM match
                   union
                 SELECT home_player_9 as player_id, league_id FROM match
                   union
                 SELECT home_player_10 as player_id, league_id FROM match
                   union
                 SELECT home_player_11 as player_id, league_id FROM match
                   union
                 SELECT away_player_1 as player_id, league_id FROM match
                   union
                 SELECT away_player_2 as player_id, league_id FROM match
                   union
                 SELECT away_player_3 as player_id, league_id FROM match
                   union
                 SELECT away_player_4 as player_id, league_id FROM match
                   union
                 SELECT away_player_5 as player_id, league_id FROM match
                   union
                 SELECT away_player_6 as player_id, league_id FROM match
                   union
                 SELECT away_player_7 as player_id,league_id FROM match
                   union
                 SELECT away_player_8 as player_id, league_id FROM match
                   union
                 SELECT away_player_9 as player_id, league_id FROM match
                   union
                 SELECT away_player_10 as player_id, league_id FROM match
                   union
                 SELECT away_player_11 as player_id, league_id FROM match"
                 )))

In [179]:
na.omit(sqldf("select * from leaguesDF order by player_id"))

      player_id league_id
12    2625      15722
13    2752      21518
14    2768      21518
15    2770          1
16    2770      21518
17    2790      21518
18    2796      21518
19    2802       1729
20    2802      21518
21    2805      21518
22    2857      21518
23    2862       7809
24    2907       4769
25    2973      13274
26    2977      21518
27    2983      21518
28    2984      21518
29    3140      17642
30    3204      17642
31    3263      17642
32    3264      17642
33    3316      21518
34    3329          1
35    3377      10257
36    3441      13274
37    3512       1729
38    3517      24558
39    3520       1729
40    4747      19694
41    4863          1
...   ...       ...
13198 701154     4769
13199 703659    24558
13200 704523     4769
13201 705484    24558
13202 706985     1729
13203 710807    21518
13204 715642     4769
13205 716998     4769
13206 717248    17642
13207 717270     4769
13208 717557    13274
13209 719413     4769
13210 720738     4769
13211 721133    17642
13212 722766    21518
13213 723037    17642
13214 725718    13274
13215 726956    24558
13216 728125    19694
13217 728414    13274
13218 728478    15722
13219 730065    17642
13220 733787    24558
13221 742405     1729
13222 743720    24558
13223 744907    19694
13224 746419    17642
13225 748432     7809
13226 750435     1729
13227 750584    17642

In [180]:
nrow(sqldf("select player_id, count(distinct league_id) from leaguesDF group by player_id"))

[1] 11061

In [185]:
no_of_leagues_df <- sqldf("select player_id, count(distinct league_id) as no_of_leagues from leaguesDF group by player_id")

In [186]:
no_of_leagues_df

      player_id no_of_leagues
1       NA      11
2     2625       1
3     2752       1
4     2768       1
5     2770       2
6     2790       1
7     2796       1
8     2802       2
9     2805       1
10    2857       1
11    2862       1
12    2907       1
13    2973       1
14    2977       1
15    2983       1
16    2984       1
17    3140       1
18    3204       1
19    3263       1
20    3264       1
21    3316       1
22    3329       1
23    3377       1
24    3441       1
25    3512       1
26    3517       1
27    3520       1
28    4747       1
29    4863       1
30    4902       1
...   ...       ...
11032 701154    1
11033 703659    1
11034 704523    1
11035 705484    1
11036 706985    1
11037 710807    1
11038 715642    1
11039 716998    1
11040 717248    1
11041 717270    1
11042 717557    1
11043 719413    1
11044 720738    1
11045 721133    1
11046 722766    1
11047 723037    1
11048 725718    1
11049 726956    1
11050 728125    1
11051 728414    1
11052 728478    1
11053 730065    1
11054 733787    1
11055 742405    1
11056 743720    1
11057 744907    1
11058 746419    1
11059 748432    1
11060 750435    1
11061 750584    1

Combining all the columns into final data frame

In [187]:
Final_Player_DF <- sqldf("select temp.player_api_id, temp.player_name, temp.no_of_appearences, temp.overall_rating,
              temp.gk_rating,no_of_leagues_df.no_of_leagues
            from temp
            inner join no_of_leagues_df
            on temp.player_api_id=no_of_leagues_df.player_id")

In [276]:
Final_Player_DF

      player_api_id player_name            no_of_appearences overall_rating
1     505942        Aaron Appindangoye       5               67
2     155782        Aaron Cresswell         75               74
3     162549        Aaron Doran             90               71
4      30572        Aaron Galindo            7               75
5      23780        Aaron Hughes           162               78
6      27316        Aaron Hunt             155               79
7     564793        Aaron Kuhl               4               61
8      30895        Aaron Lennon           179               84
9     528212        Aaron Lennox             1               48
10    101042        Aaron Meijers          157               69
11     23889        Aaron Mokoena           22               75
12    231592        Aaron Mooy               6               75
13    163222        Aaron Muirhead          16               63
14     40719        Aaron Niguez            21               71
15     75489        Aaron Ramsey           116               83
16    597948        Aaron Splaine            2               55
17    161644        Aaron Taylor-Sinclair   35               65
18     23499        Aaron Wilbraham          1               67
19    120919        Aatif Chahechouhe        1               77
20     46447        Abasse Ba               11               68
21    167027        Abdelaziz Barrada       72               76
22    245653        Abdelfettah Boukhriss    1               64
23    128456        Abdelhamid El Kaoutari 142               73
24     42664        Abdelkader Ghezzal      86               73
25    425950        Abdellah Zoubir          1               59
26     38423        Abdelmajid Oulmers      23               70
27      3264        Abdelmalek Cherrad       1               62
28    467485        Abdelmalek El Hasnaoui   3               63
29    306735        Abdelouahed Chakhsi     68               56
30     41659        Abderrazak Jadid        18               71
...   ...           ...                    ...               ...
11031 244155        Zezinho                  2               69
11032  19696        Zhi Zheng                6               73
11033 290868        Zhi-Gin Lam             10               68
11034 169594        Zie Diabate             12               65
11035 244953        Ziggy Gordon            62               64
11036 200607        Ziguy Badibanga         16               64
11037 642618        Zinedine Machach         9               67
11038 277772        Zinho Gano              22               67
11039 246332        Ziri Hammar              1               65
11040 532766        Zizo                    16               63
11041  27305        Zlatan Bajramovic        6               78
11042  35724        Zlatan Ibrahimovic     235               90
11043  12574        Zlatan Ljubijankic      52               72
11044  39494        Zlatko Dedic            10               71
11045  17233        Zlatko Janjic            1               66
11046  42860        Zlatko Junuzovic       101               79
11047  37128        Zola Matumona           32               68
11048  24737        Zoltan Gera             59               77
11049 107281        Zoltan Stieber          35               73
11050  39801        Zoltan Szelesi           6               70
11051 491794        Zoran Josipovic          1               60
11052  56929        Zoran Rendulic           6               66
11053  99031        Zoran Tosic              7               80
11054 192132        Zouhaier Dhaouadhi       1               64
11055 282473        Zouhair Feddal          43               75
11056  26357        Zoumana Camara         102               77
11057 111182        Zsolt Laczko             6               68
11058  36491        Zsolt Low               15               68
11059  35506        Zurab Khizanishvili      1               78
11060  39902        Zvjezdan Misimovic      63               83
      gk_rating no_of_leagues
1      43       1
2     121       1
3     125       1
4     111       1
5     129       1
6     132       1
7      64       1
8     146       1
9     237       1
10     54       1
11    154       1
12     54       1
13     38       1
14    129       2
15    150       1
16     55       1
17     49       1
18    163       1
19     50       1
20    111       1
21     47       2
22     51       1
23    118       2
24    122       2
25     62       1
26    129       1
27     98       1
28     52       1
29     46       1
30    133       2
...   ...       ...
11031  51       1
11032 154       1
11033  58       1
11034  59       2
11035  51       1
11036  50       2
11037  52       1
11038  53       1
11039  60       1
11040  43       1
11041 158       1
11042 156       3
11043 146       1
11044 105       1
11045  90       1
11046 128       1
11047  95       1
11048 147       1
11049 128       1
11050 135       1
11051  46       1
11052  57       1
11053 136       1
11054  54       1
11055  57       2
11056 125       1
11057  35       1
11058 128       1
11059 140       1
11060 153       1

In [188]:
team_df <- data.frame(tbl(database,sql("select * from Team")))

In [302]:
tbl(database,sql("Select team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing from Team_Attributes"))

Source:   query [?? x 4]
Database: sqlite 3.11.1 [D:/MS_Spring2017/DIC/Lab2/database.sqlite]

   team_api_id buildUpPlaySpeed buildUpPlayDribbling buildUpPlayPassing
         <int>            <int>                <int>              <int>
1         9930               60                   NA                 50
2         9930               52                   48                 56
3         9930               47                   41                 54
4         8485               70                   NA                 70
5         8485               47                   NA                 52
6         8485               58                   NA                 62
7         8485               62                   NA                 45
8         8485               58                   64                 62
9         8485               59                   64                 53
10        8576               60                   NA                 40
# ... with more rows

Gathering build rating attributes

In [100]:
buildUp_rating_df <- data.frame(tbl(database,sql("select Team.team_api_id, Team.team_long_name,
MAX( Team_Attributes.buildUpPlaySpeed + Team_Attributes.buildUpPlayDribbling + Team_Attributes.buildUpPlayPassing)
     as buildUp_rating
from Team
LEFT JOIN Team_Attributes
on Team.team_api_id=Team_Attributes.team_api_id
group by Team.team_api_id")))

making temporary data frame with team name, id and build rating

In [101]:
temp_df <- sqldf("select team_df.team_api_id, team_df.team_long_name as team_name, buildUp_rating_df.buildUp_rating
from team_df
inner join buildUp_rating_df
on team_df.team_api_id=buildUp_rating_df.team_api_id")

Gathering chance creation attributes

In [102]:
chance_creation_rating_df <- data.frame(tbl(database,sql("select Team.team_api_id, Team.team_long_name,
MAX( Team_Attributes.chanceCreationPassing + Team_Attributes.chanceCreationCrossing + Team_Attributes.chanceCreationCrossingClass+ Team_Attributes.chanceCreationShooting)
     as chance_creation_rating
from Team
LEFT JOIN Team_Attributes
on Team.team_api_id=Team_Attributes.team_api_id
group by Team.team_api_id")))

In [103]:
temp_df <- sqldf("select temp_df.team_api_id, temp_df.team_name, temp_df.buildUp_rating, chance_creation_rating_df.chance_creation_rating
from temp_df
inner join chance_creation_rating_df
on temp_df.team_api_id=chance_creation_rating_df.team_api_id")

Gathering defense rating attributes

In [104]:
defense_rating_table_df <- data.frame(tbl(database,sql("select Team.team_api_id, Team.team_long_name,
MAX( Team_Attributes.defencePressure + Team_Attributes.defenceAggression + Team_Attributes.defenceTeamWidth)
   as defense_rating
from Team
LEFT JOIN Team_Attributes
on Team.team_api_id=Team_Attributes.team_api_id
group by Team.team_api_id")))

In [105]:
temp_df <- sqldf("select temp_df.team_api_id, temp_df.team_name, temp_df.buildUp_rating, temp_df.chance_creation_rating,
defense_rating_table_df.defense_rating
from temp_df
inner join defense_rating_table_df
on temp_df.team_api_id=defense_rating_table_df.team_api_id")

Counting the number of goals for each match

In [146]:
home_team_goals <- sqldf("select home_team_api_id as team_id,sum(home_team_goal) as 
       no_of_goals from match group by home_team_api_id ")
away_team_goals <- sqldf("select away_team_api_id as team_id,sum(away_team_goal) as 
       no_of_goals from match group by away_team_api_id ")

In [149]:
goalsDF <- sqldf("select * from home_team_goals
                union all
                select * from away_team_goals")
goalsDF <- sqldf("Select team_id,sum(no_of_goals) as total_goals from goalsDF group by team_id")

In [150]:
goalsDF

    team_id total_goals
1   1601    280
2   1773    126
3   1957    287
4   2033    138
5   2182    372
6   2183    184
7   2186    235
8   4049     35
9   4064     27
10  4087    180
11  4170     31
12  6269     34
13  6351     28
14  6367     27
15  6391     37
16  6403    292
17  6413    204
18  6421     55
19  6433     74
20  6493    128
21  6547     29
22  6601     38
23  6631     24
24  7730     99
25  7788    119
26  7794    165
27  7819    220
28  7841    248
29  7842    167
30  7844    300
... ...     ...
270  10214  332
271  10215  240
272  10217  366
273  10218  154
274  10219  153
275  10228  470
276  10229  492
277  10233  392
278  10235  489
279  10238  238
280  10242   71
281  10243  468
282  10249  344
283  10251  259
284  10252  335
285  10260  582
286  10261  324
287  10264  398
288  10265  332
289  10267  484
290  10268   65
291  10269  415
292  10278   36
293  10281  170
294 108893   21
295 158085  101
296 177361   33
297 188163   34
298 208931   37
299 274581   71

In [151]:
nrow(data.frame(tbl(database,sql("select * from Team"))))

[1] 299

Final team data frame having all the desired data frames

In [152]:
Final_Team_DF <- sqldf("select temp_df.team_api_id, temp_df.team_name, temp_df.buildUp_rating, temp_df.chance_creation_rating,
temp_df.defense_rating, goalsDF.total_goals
from temp_df
inner join goalsDF
on temp_df.team_api_id=goalsDF.team_id")

Writing the data frames into csv files

In [189]:
write.csv(Final_Player_DF, file = "C:/Users/nitik/Lab2/Player.csv")

In [190]:
write.csv(Final_Team_DF, file = "C:/Users/nitik/Lab2/Team.csv")